body {
  background-color: transparent;
  padding-left: 10px !important;
}

.settings-body {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.commands-view {
  padding-right: 5px !important;
}

#icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#icons .icon {
  width: 140px;
  padding: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#icons .icon .codicon {
  font-size: 32px;
  padding-bottom: 16px;
}

svg {
  /* transform: scale(0.3); */
  fill: var(--vscode-editor-foreground);
  margin: -18px;
  width: 56px;
  pointer-events: none;
  /* margin-left: -20px; */
  margin-right: -20px;
  margin-top: -20px;
  margin-bottom: -10px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list > div {
  height: 22px;
  line-height: 22px;
  padding-right: 2px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  flex: 0;
  cursor: pointer;
}

.setting-label {
  display: flex;
  align-items: center;
  cursor: inherit;
  flex: auto;
  justify-content: space-between;
}

.small-btn {
  font-size: 1em;
  padding: 2px;
  margin-left: 4px;
  vertical-align: middle;
}

.reset-btn {
  cursor: pointer;
  opacity: 0.7;
  width: 20px;
}

.reset-btn:hover {
  opacity: 1;
}

.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}

.feature-checkbox {
  margin-right: 8px;
  cursor: pointer;
}

.features-container {
  margin-top: 12px;
  padding: 5px;
}

.link-button {
  background: none;
  width: inherit !important;
  border: none;
  color: var(--vscode-textLink-foreground);
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  margin: 6px;
}

.link-button:hover {
  color: var(--vscode-textLink-activeForeground);
  background: transparent;
}
